    #main {
        background: url(EBSWebWallpaperGrey.png) no-repeat center center fixed; 
    }
@media (min-width: 400px){
    #main {
        background: url(EBSWebWallpaperGrey.png) no-repeat center center fixed !important;
        -webkit-backgroung-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: 100% 100% !important;
    
    }
}

.nav-inner {
    font-family: 'Archivo Black', sans-serif;
}

.bandcast {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: auto;
    
}



.support-links {
    margin-top: none;
}
.icon-box p {
    color: #ffffff;
}
#upcoming {
    color: #7cc576;
    display: none;
}
.icon-box {
    padding-left: 40px;
    padding-top: 5px;
}

.support {
    padding-left: 15%;
}

.upcoming li {
    font-size: 20px;
}
    
@media (min-width: 1024px){
    .row.bandcast{
        height: 90vh;
        width: 99vw;
    }
    #bandcast {
        height: 99vh;
    }
    #twitch-embed {
        height: 80vh;
        width: 99vw;
    }
}
@media (max-width: 1300px){
    #twitch-embed{
        height: 60vh;
    }
    #payment-links {
        display: contents;
    }
    .payment-link {
        width: 100px;
    }
}
.payment-link {
    width: 150px;
    height: 30%;    
}
#payment-links {
    padding-bottom: 30px;
}

@media (max-width: 540px) {
    #payment-links {
        display:none;        
    }
    #mobile-links {
        display: contents;
    }
}
@media (min-width: 541px){
    #mobile-links {
        display: none;
    }
}

.row .marquee {
    display: table;
    width: 100%;
}

.upcoming {
    display: table-cell;
}


#ayers {
    font-size: 20px;
}


/* Add top and bottom borders on entire marquee */
#marquee {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

#payment-links .section-title h2 {
    font-size: 28px;
}